controller:
  replicaCount: 1
  config:
    use-forwarded-headers: "true"
  service:
    annotations:
      nginx.ingress.kubernetes.io/enable-http2: "true"
      service.beta.kubernetes.io/do-loadbalancer-certificate-id: 028acc14-4c8e-47c2-956f-9c944426b43a
      service.beta.kubernetes.io/do-loadbalancer-http2-ports: "443"
      service.beta.kubernetes.io/do-loadbalancer-protocol: https
      service.beta.kubernetes.io/do-loadbalancer-redirect-http-to-https: "true"
    targetPorts:
      https: http
  resources:
    requests:
      memory: 250Mi
    limits:
      memory: 400Mi
  metrics:
    enabled: true
