prometheus:
  prometheusSpec:
    resources:
      requests:
        memory: 500Mi
      limits:
        memory: 600Mi
  additionalPodMonitors:
    - name: ingress-nginx
      namespaceSelector:
        matchNames:
          - ingress-nginx
      selector:
        matchLabels:
          app.kubernetes.io/name: ingress-nginx
      podMetricsEndpoints:
        - port: metrics

kubelet:
  serviceMonitor:
    cAdvisorMetricRelabelings:
      - source_labels: [__address__]
        action: drop
        regex: 10\.124\.0\.4:10250

grafana:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.creaty.club
  persistence:
    enabled: true
    storageClassName: do-block-storage-xfs-retain
    size: 1Gi
  resources:
    requests:
      memory: 330Mi
    limits:
      memory: 360Mi

defaultRules:
  rules:
    etcd: false
    kubeSchedulerAlerting: false
    kubeSchedulerRecording: false
    windows: false

kubeControllerManager:
  enabled: false

kubeEtcd:
  enabled: false

kubeScheduler:
  enabled: false
