prometheus:
  prometheusSpec:
    resources:
      requests:
        memory: 500Mi
      limits:
        memory: 600Mi
  additionalPodMonitors:
    - name: ingress-nginx
      namespaceSelector:
        matchNames:
          - ingress-nginx
      selector:
        matchLabels:
          app.kubernetes.io/name: ingress-nginx
      podMetricsEndpoints:
        - port: metrics

kubelet:
  serviceMonitor:
    cAdvisorMetricRelabelings:
      # Drop less useful container CPU metrics.
      - sourceLabels: [__name__]
        action: drop
        regex: 'container_cpu_(cfs_throttled_seconds_total|load_average_10s|system_seconds_total|user_seconds_total)'
      # Drop less useful container / always zero filesystem metrics.
      - sourceLabels: [__name__]
        action: drop
        regex: 'container_fs_(io_current|io_time_seconds_total|io_time_weighted_seconds_total|reads_merged_total|sector_reads_total|sector_writes_total|writes_merged_total)'
      # Drop less useful / always zero container memory metrics.
      - sourceLabels: [__name__]
        action: drop
        regex: 'container_memory_(mapped_file|swap)'
      # Drop less useful container process metrics.
      - sourceLabels: [__name__]
        action: drop
        regex: 'container_(file_descriptors|tasks_state|threads_max)'
      # Drop container spec metrics that overlap with kube-state-metrics.
      - sourceLabels: [__name__]
        action: drop
        regex: 'container_spec.*'
      # Drop cgroup metrics with no pod.
      - sourceLabels: [id, pod]
        action: drop
        regex: '.+;'
      # Drop master node metrics
      - sourceLabels: [__address__]
        action: drop
        regex: 10\.124\.0\.4:10250
    cAdvisorRelabelings:
      - action: replace
        sourceLabels: [__metrics_path__]
        targetLabel: metrics_path
      # Drop master node metrics
      - sourceLabels: [__address__]
        action: drop
        regex: 10\.124\.0\.4:10250

grafana:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.creaty.club
  persistence:
    enabled: true
    storageClassName: do-block-storage-xfs-retain
    size: 1Gi
  resources:
    requests:
      memory: 330Mi
    limits:
      memory: 360Mi

defaultRules:
  rules:
    etcd: false
    kubeSchedulerAlerting: false
    kubeSchedulerRecording: false
    windows: false

kubeControllerManager:
  enabled: false

kubeEtcd:
  enabled: false

kubeScheduler:
  enabled: false
