prometheus:
  prometheusSpec:
    resources:
      requests:
        memory: 420Mi

grafana:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.creaty.club
  admin:
    existingSecret: prometheus-stack-grafana
  resources:
    requests:
      memory: 300Mi

defaultRules:
  rules:
    etcd: false
    kubeSchedulerAlerting: false
    kubeSchedulerRecording: false
    windows: false

kubeEtcd:
  enabled: false

kubeScheduler:
  enabled: false
