prometheus:
  prometheusSpec:
    resources:
      requests:
        memory: 500Mi
      limits:
        memory: 600Mi
  additionalPodMonitors:
    - name: ingress-nginx
      namespaceSelector:
        matchNames:
          - ingress-nginx
      selector:
        matchLabels:
          app.kubernetes.io/name: ingress-nginx
      podMetricsEndpoints:
        - port: metrics

kubelet:
  serviceMonitor:
    cAdvisorRelabelings:
      # Drop master node metrics
      - sourceLabels: [__address__]
        action: drop
        regex: 10\.124\.0\.4:10250
      - action: replace
        sourceLabels: [__metrics_path__]
        targetLabel: metrics_path
    probesRelabelings:
      # Drop master node metrics
      - sourceLabels: [__address__]
        action: drop
        regex: 10\.124\.0\.4:10250
      - action: replace
        sourceLabels: [__metrics_path__]
        targetLabel: metrics_path
    relabelings:
      # Drop master node metrics
      - sourceLabels: [__address__]
        action: drop
        regex: 10\.124\.0\.4:10250
      - action: replace
        sourceLabels: [__metrics_path__]
        targetLabel: metrics_path

grafana:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.creaty.club
  persistence:
    enabled: true
    storageClassName: do-block-storage-xfs-retain
    size: 1Gi
  resources:
    requests:
      memory: 330Mi
    limits:
      memory: 360Mi

alertmanager:
  alertmanagerSpec:
    alertmanagerConfiguration:
      name: alertmanager-config

defaultRules:
  rules:
    etcd: false
    kubeSchedulerAlerting: false
    kubeSchedulerRecording: false
    windows: false

kubeControllerManager:
  enabled: false

kubeEtcd:
  enabled: false

kubeScheduler:
  enabled: false

extraManifests:
  - apiVersion: bitnami.com/v1alpha1
    kind: SealedSecret
    metadata:
      name: prometheus-stack-secrets
    spec:
      encryptedData:
        TELEGRAM_BOT_TOKEN: AgAqWKOMbo2cH29MtgEurcxSmEh+cqii15OdEixWNr91c+XHm/Xl4U4pENaIxSL8MQbKZK2KSnkobBAiC8TIUw3kophY9S4/sM03JuV4/j3xD/B0xIiQDfJNBXUuOKvEYFS9JJaoRkSGOivmjMfeWwsinKPJOmh0WM7B+ajdCNnUbOxcvg+Qur3QH8hOesenIkcB8JKOc8q7wQwUxBMzQYgTEd40nLr0cUz/Jgj+OV6cEQmDy+Hj3s7A20WkS1+oRdFEzQU5swChZvXAXYxkxN4C4jhD9G4Ztw9r/1M+1+jxn4W4n5fOqB2RRFlY7hilq9mOeT2YGLT0dGEqUXrnW+ecRrmwuq29JBnsjvlwWfBoKiJdx+/SsvLY5JD+Sgi6+T2jil/ZNaGCZCHcCJG5GZjLk5sD9Fu/pV25mx7CA0hWMahHfgd9CBYl3jlRjoI5PKbCqveFHMUdtBZO16wwvc53HjNeWGzsdqhLK3UiCIPIb6MzwmPDrRDnSOI9ucjUNOHvQvM1TN9gdr+0e8ODIQRhrUfXnaHsHLd32Fp/Mz4d32QEZwC5Rhdbsdl1LYXP2V1BHhmu64f5miqdK5fl0KO/tx3UzXBPykU5pCn37E9gvXtNeh38BdufTDr4UUAlMFuANFjxzmdExKzNW74mN3pPhrxSa98sKXcz76pSHr7ILa4Dof/VUVIVQ1A1h0FFox0V2pUfneopzy2lyrf+nll7TNJLL9Gh58Oh9vZ/JOIvY7MLL7YdApo6qq8/0SN6
      template:
        metadata:
          name: prometheus-stack-secrets
        type: Opaque
  - apiVersion: monitoring.coreos.com/v1alpha1
    kind: AlertmanagerConfig
    metadata:
      name: alertmanager-config
    spec:
      inhibitRules:
        - equal: [namespace, alertname]
          sourceMatch:
            - name: severity
              value: critical
          targetMatch:
            - name: severity
              value: warning|info
              matchType: =~
        - equal: [namespace, alertname]
          sourceMatch:
            - name: severity
              value: warning
          targetMatch:
            - name: severity
              value: info
        - equal: [namespace]
          sourceMatch:
            - name: alertname
              value: InfoInhibitor
          targetMatch:
            - name: severity
              value: info
      receivers:
        - name: 'null'
        - name: telegram
          telegramConfigs:
            - chatID: -4045815842
              botToken:
                name: prometheus-stack-secrets
                key: TELEGRAM_BOT_TOKEN
      route:
        receiver: telegram
        groupBy: [namespace]
        groupInterval: 5m
        groupWait: 30s
        repeatInterval: 5m
        routes:
          - matchers:
              - name: alertname
                value: InfoInhibitor|Watchdog
                matchType: =~
            receiver: 'null'
